@media screen {
  .blogContainer {
    gap: var(--padding-sm);
    display: flex;
    overflow: hidden;
    overflow-y: auto;
    flex-direction: column;
    color: var(--primary-color);
  }

  .blogBanner {
    display: flex;
    min-height: var(--font-weight-light);
    padding: 20px var(--padding-sm);
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    background: var(--linear-gradient-color);
  }

  .blogHeader {
    gap: var(--padding-sm);
    display: flex;
    padding: var(--padding-sm);
    border-radius: var(--padding-md);
    flex-direction: column;
    box-shadow: var(--shadow-background-color);
  }

  .blogContent {
    gap: var(--padding-sm);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--background-color);
  }

  .blogContent p {
    text-align: center;
  }

  .searchBar {
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: var(--padding-sm);
    border-radius: var(--radius-lg);
    background-color: var(--background-color);
  }

  .searchInput {
    width: 100%;
    border: none;
    border-radius: inherit;
    transition: all 0.3s ease;
    color: var(--primary-color);
    font-size: var(--font-size-3);
  }

  .searchIcon {
    font-size: var(--font-size-3);
    color: var(--primary-color);
  }

  .dropdownContainerWp {
    gap: var(--padding-sm);
    display: flex;
    padding: var(--padding-sm);
    align-items: center;
    justify-content: space-between;
  }

  .dropdownContainerInner {
    min-width: 140px;
    width: fit-content;
  }

  .categoriesContainer {
    gap: var(--padding-sm);
    display: flex;
    padding: 0 var(--padding-sm);
    overflow-x: auto;
    min-height: 50px;
    align-items: center;
    overflow-y: hidden;
    scroll-behavior: smooth;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
  }

  .categoryCard {
    height: 40px;
    padding: var(--padding-sm);
    cursor: pointer;
    min-width: 100px;
    font-size: var(--font-size-3);
    border-radius: var(--padding-sm);
    scroll-snap-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
    box-shadow: var(--shadow-box);
    background-color: var(--background-color);
  }

  .categoryCard:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .activeCategory {
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .categoriesInnerContainer {
    gap: var(--padding-sm);
    display: flex;
    padding: var(--padding-sm);
    flex-direction: column;
  }

  .featuredArticle {
    gap: 20px;
    height: 100%;
    flex-direction: column;
  }

  .featuredImageWrapper {
    flex: 50%;
    height: var(--font-weight-light);
    position: relative;
    border-radius: var(--padding-md);
    box-shadow: var(--shadow-background-color);
  }

  .featuredImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    transition: transform 0.5s ease;
  }

  .featuredImage:hover {
    transform: scale(1.03);
  }

  .featuredContent {
    flex: 50%;
    gap: 20px;
    display: flex;
    padding: var(--padding-sm);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }


  .featuredContent p {
    font-size: var(--font-size-3);
    color: var(--primary-color);
  }

  .category {
    gap: var(--padding-sm);
    display: flex;
    padding: var(--padding-md);
    font-size:var(--font-size-4);
    font-weight: var(--font-weight-light);
    width: fit-content;
    border-radius: var(--padding-md);
    text-transform: uppercase;
    color: var(--background-color);
    background-color: var(--primary-color);
  }

  .articleMeta {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-4);
    align-items: center;
    color: var(--light-primary-color);
  }

  .articleMeta span {
    font-weight: var(--font-weight-light);
  }

  .articleTags {
    gap: var(--padding-sm);
    display: flex;
    align-items: center;
  }

  .articleTags span {
    font-size:var(--font-size-4);
    text-transform: capitalize;
  }

  .dateAndTime {
    gap: var(--padding-md);
    display: flex;
    align-items: center;
  }

  .dateAndTime span {
    gap: 5px;
    align-items: center;
    display: flex;
  }

  .readMoreBtn {
    border: none;
    display: flex;
    cursor: pointer;
    padding: var(--padding-sm) 30px;
    width: fit-content;
    border-radius: var(--padding-md);
    transition: all 0.3s ease;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .readMoreBtn:hover {
    transform: translateY(-2px);
    background-color: var(--dark-secondary-color);
  }

  .blogMainContent {
    gap: 30px;
    display: flex;
    padding: var(--padding-sm);
    flex-direction: column;
  }

  .articlesContent {
    gap: var(--padding-sm);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - var(--navbar-height));
  }

  .telegramContent {
    height: var(--font-weight-light);
    display: flex;
    margin: var(--padding-sm);
    border-radius: var(--padding-md);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--background-color);
    background: var(--linear-gradient-color);
    box-shadow: var(--shadow-background-color);
  }

  .blogBanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: var(--linear-backround-image);
  }

  .telegramCard {
    gap: var(--padding-md);
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }


  .telegramCard p {
    color: var(--light-background-color);
    font-size: var(--font-size-3);
  }

  .telegramButton {
    border: none;
    cursor: pointer;
    font-size: var(--font-size-3);
    padding: var(--padding-sm) 40px;
    border-radius: 30px;
    color: var(--primary-color);
    background-color: var(--background-color);
  }

  .telegramButton:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  /* side slide content */

  .sideSlideContent {
    gap: var(--padding-md);
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .sideSlideContentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .socialShareLinks {
    gap: var(--padding-sm);
    display: flex;
    align-items: center;
  }

  .socialIconBtn {
    width: 30px;
    height: 30px;
    padding: var(--padding-sm);
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--light-background-color);
  }

  .socialIconBtn:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .socialIcon {
    font-size: 18px;
  }

  .sideSlideImageContainer {
    width: 100%;
    height: 400px;
    min-height: 400px;
    position: relative;
    border-radius: var(--padding-md);
  }

  .sideSlideImage {
    object-position: top center;
    border-radius: inherit;
  }

  .sideSlideHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sideSlideInnerContentDetails {
    gap: var(--padding-md);
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .authorContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sideSlideInnerContent {
    height: 100%;
    padding: var(--padding-sm);
    text-wrap: wrap;
    min-height: 100px;
    border-radius: var(--padding-md);
    background-color: var(--lighter-primary-color);
  }

  .SideSlideFooter {
    gap: var(--padding-sm);
    display: flex;
    padding-top: var(--padding-sm);
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--light-background-color);
  }

  .nothingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - var(--navbar-height));
  }
}

@media only screen and (min-width: 48em) {
  .blogContainer {
    min-height: calc(100vh - var(--navbar-height));
  }

  .searchBar {
    width: 500px;
  }

  .articlesContent {
    padding: var(--padding-sm);
  }

  .categoriesInnerContainer {
    width: calc(90%);
    margin: 0 auto;
  }

  .featuredArticle {
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
  }

  .featuredImage {
    height: 100%;
  }

  .featuredImageWrapper {
    height: 100%;
  }
}
