@media screen {
  .cardContainer {
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--light-background-color);
    border-left: 2px solid var(--light-background-color);
    border-right: 2px solid var(--light-background-color);
  }

  .cardContainer:last-child {
    border-bottom: 2px solid var(--light-background-color);
  }

  .card {
    display: flex;
    cursor: pointer;
    flex-direction: column;
  }

  .sportHeader {
    display: flex;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--light-background-color);
  }

  .sportHeader h2 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
  }

  .sportInfo {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .matchRow {
    display: flex;
    
  }

  .matchDetails {
    padding: 10px;
    display: none;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid var(--light-background-color);
    border-right: 2px solid var(--light-background-color);
  }

  .mobileMatchDetails {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--light-background-color);

  }


  .teamSection {
    flex: 1;
    display: flex;
    flex-direction: column;

  }

  .teamSection:nth-child(3) .teamInfo {
    flex-direction: row-reverse;
  }

  .teamSection:nth-child(3) .formation {
    justify-content: flex-end;
  }

  .teamInfo {
    gap: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .teamInfo span {
    text-transform: capitalize;
  }

  .teamIcon {
    object-fit: contain;
  }

  .circularShape {
    border-radius: 360%;
  }

  .formation {
    gap: 3px;
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    border-top: 2px solid var(--light-background-color);
  }

  .formationCircle {
    width: 22px;
    height: 22px;
    display: flex;
    border-radius: 360%;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
  }

  .win {
    background-color: var(--win-color);
  }

  .draw {
    background-color: var(--draw-color);
  }

  .lose {
    background-color: var(--loose-color);
  }

  .defaultColor {
    background-color: var(--background-color);
  }

  .formationCircle span {
    font-size: 0.7rem;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .mobileMatchDetails {
    display: none;
  }

  .matchDetails {
    display: flex;
  }
}
