@media screen {
  .termsContainer {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: var(--padding-sm);
    justify-content: space-between;
    border-radius: var(--radius-sm);
    background-color: var(--background-color);
  }

  .termsContainerInner {
    display: flex;
    flex-direction: column;
    gap: var(--padding-sm);
  }


  .termHeader {
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-sm);
    color: var(--background-color);
    background: var(--linear-gradient-color);
  }

  .termHeader h1 {
    font-size: var(--font-size-2);
  }

  .termHeader::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: var(--linear-backround-image);
  }

  .section {
    display: flex;
    gap: var(--padding-sm);
    flex-direction: column;
    padding: var(--padding-sm);
  }

  .section a {
    padding: 0 10px;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: var(--font-size-4);
    color: var(--secondary-color);
  }

  .section h2 {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: var(--font-size-2);
    text-transform: capitalize;
    color: var(--primary-color);
  }

  .section p {
    border-radius: var(--radius-sm);
    color: var(--light-primary-color);
  }

  .bulletList {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: var(--padding-sm);
  }

  .bulletList li {
    padding: var(--padding-sm);
    transition: all 0.3s ease;
    border-radius:var(--radius-sm) ;
    font-size: var(--font-size-4);
    color: var(--light-primary-color);
    border-left: 1px solid var(--light-secondary-color);
  }
  .bulletList li:hover {
    transform: translateX(5px);
  }


}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
}
