@media screen {
  .bonusContainer {
    width: 100%;
    display: flex;
    gap: var(--padding-lg);
    flex-direction: column;
  }

  .bonusMain {
    width: 100%;
    display: flex;
    gap: var(--padding-lg);
    flex-direction: column;
    padding: var(--padding-sm);
    justify-content: space-between;
  }

  .bonusContent {
    display: flex;
    gap: var(--padding-sm);
    flex-direction: column;
  }

  .bonusHeader {
    display: flex;
    gap: var(--padding-sx);
    flex-direction: column;
  }

  .bonusHeader h1 {
    font-size: var(--font-size-2);
    text-decoration: underline;
  }

  .bonus {
    display: flex;
    gap: var(--padding-sm);
    align-items: center;
    flex-direction: column;
    padding: var(--padding-sm);
    box-shadow: var(--shadow-box);
    justify-content: space-between;
    border-radius: var(--padding-md);
    background-color: var(--primary-color);
  }

  .bonusTitle {
    width: 100%;
    text-align: center;
    padding: var(--padding-sm);
    color: var(--primary-color);
    border-radius: var(--radius-sm);
    background-color: var(--background-color);
  }

  .bonusImgContainer {
    height: 100px;
    width: 100%;
    display: flex;
    min-height: 100px;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-sm);
    background-color: var(--primary-color);
  }

  .bonusImage {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    
  }

  .bonusFormContainer {
    width: 100%;
    text-align: center;
  }

  .bonusFormContainer span {
    color: var(--background-color);
    font-size: var(--font-size-4);
  }

  .bonusFormContainer span strong {
    color: var(--secondary-color);
  }

  .bonusForm {
    height: 60px;
    display: flex;
    border-radius: var(--padding-sm);
    justify-content: space-between;
  }

  .promoForm {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: var(--padding-sm);
    flex-direction: column;
    justify-content: center;
    color: var(--background-color);
    border-radius: var(--padding-sm) 0 0 var(--padding-sm);
    border: 2px dotted var(--background-color);
    border-right: none;
  }

  .bonusBtn {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    gap: var(--padding-lg);
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--background-color);
    border-radius: 0 var(--padding-sm) var(--padding-sm) 0;
  }

  .iconBonus {
    font-size: var(--padding-lg);
    cursor: pointer;
  }

  .bonusInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-sm);
    padding: var(--padding-sm);
    box-shadow: var(--shadow-box);
    border-radius: var(--radius-sm);

  }

  .bonusInfo h2 {
    font-size: var(--font-size-2);
    text-transform: capitalize;
    text-decoration: underline;
    color: var(--background-color);
  }

  .bonusInfo p span {
    color: var(--secondary-color);
    font-weight: var(--font-weight-regular);
  }
}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .bonusMain {
    min-height: 100vh;
  }

  .bonus {
    flex-direction: row;
  }

  .bonusImgContainer {
    height: 100%;
    width: 200px;
  }

  .bonusTitle {
    padding: 0;
    width: auto;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    background-color: transparent;
  }
}
